<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Victor Badaró{% block title %}{% endblock title %}</title>
        <meta charset=utf-8>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <main class="container">
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>